@import "../index.scss";

.slider__wrapper {
  position: relative;
  width: 100%;
  z-index: 60;
  .next,
  .prev {
    position: absolute;
    height: 100%;
    z-index: 5;
    border: none;
    outline: none;
    font-weight: 600;
    color: white;
    background-color: rgb(40, 40, 40);
    &:hover {
      background-color: rgba(40, 40, 40, 0.904);
    }
    &:disabled {
      opacity: 0;
    }
    @include mobile {
      width: 3.5rem;
      font-size: 3rem;
    }
    @include tablet {
      width: 4.5rem;
      font-size: 5rem;
    }
    @include desktop {
      width: 5.5rem;
      font-size: 6rem;
    }
  }
  .next {
    right: 0;
  }
  p {
    position: absolute;
    color: white;
  }
  @include mobile {
    min-height: 20rem;
    p {
      top: -3rem;
      font-size: 2rem;
      font-weight: 600;
      left: 3rem;
    }
    & + & {
      margin-top: 10rem;
    }
  }
  @include tablet {
    min-height: 25rem;
    p {
      top: -4.5rem;
      font-size: 3rem;
      font-weight: 600;
      left: 4.5rem;
    }
    & + & {
      margin-top: 15rem;
    }
  }
  @include desktop {
    min-height: 30rem;
    p {
      top: -5rem;
      font-size: 3rem;
      font-weight: 600;
      left: 6.5rem;
    }
    & + & {
      margin-top: 20rem;
    }
  }
}

.slider__row {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 3.5rem;
  }
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 5rem;
  }
  @include desktop {
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    padding: 0 7rem;
  }
}

.slider__col {
  position: relative;
  min-width: 13rem;
}

.slider__col-image {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 80;
}
.slider__col-info {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 90;
  width: 100%;
  height: 30%;
  background-color: rgb(24, 24, 24);
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  color: white;
  font-size: 1.5rem;
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
  }
}
